.hidden {
    display: none !important;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #111;
    margin: 0;
}

/* ********************************************** */
/* scoring */
/* ********************************************** */

.scoringScreenContainer {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background: darkgreen;
    padding: 4px;

    .scoreExplanationOneText,
    .scoreExplanationTwoText,
    .scoreExplanationThreeText,
    .scoreExplanationFourText {
        background: rgb(1, 56, 1);
        margin: 4px;
        padding: 4px;
    }
}

/* ********************************************** */
/* photo game */
/* ********************************************** */

.photoGameScreenContainer {
    .photoGameCanvas {
        background-color: lightgreen;
    }
}

/* ********************************************** */
/* level editor */
/* ********************************************** */

.levelEditorOverlayScreenContainer {
    position: absolute;
    top: 0;
    left: 0;
    padding: 4px;
    background: rgba(100, 100, 100, 0.5);

    .addGameObjectFormContainer {
        span {
            display: block;
        }
    }
}

.levelEditorOverlayScreenContainer.right {
    left: initial;
    right: 0;
}

/* ********************************************** */
/* calendar */
/* ********************************************** */

.calendarScreenContainer {
    background-image: url(images/calendar/placeholderBackground.png);

    .circleImage.hidden {
        opacity: 0;
        scale: 0;
        display: none;
    }

    .crossImage,
    .circleImage:not(.hidden) {
        animation-duration: 0.5s;
        animation-name: fade-in;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
        scale: 0;
        display: none;
    }

    100% {
        opacity: 1;
        scale: 1;
        display: block;
    }
}