.hidden {
    display: none !important;
}

@font-face {
    font-family: "countdownfont";
    src: url("fonts/BittypixCountdown/BittypixCountdown.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "pirkkala";
    src: url("fonts/pirkkala/pirkkala.ttf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #111;
    background: #333333;
    margin: 0;
}

.screen {
    position: relative;
    height: 720px;
    width: 1280px;
}

#shutterTop,
#shutterBottom {
    position: absolute;
    top: 0;
    left: 50%;
    height: 720px;
    width: 1280px;
    background-color: black;
    z-index: 13;
    transition: transform 80ms ease-in;
    transform: translateX(-50%) scaleY(1);
}

#shutterTop {
    transform-origin: top;
}

#shutterBottom {
    transform-origin: bottom;
}

#shutterTop.open,
#shutterBottom.open {
    transform: translateX(-50%) scaleY(0);
}


/* ********************************************** */
/* scoring */
/* ********************************************** */

.scoringScreenContainer.screen {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 11;
    height: initial;
    width: initial;
    height: 720px;
    width: 1280px;

    font-family: pirkkala;
    font-size: 20px;
    color: #ff5597;
    overflow: hidden;


    .scoringContainer.closed {
        height: 75px;
    }

    .scoringContainer {
        z-index: 11;
        cursor: pointer;
        transition: height ease-in-out 450ms;
        position: absolute;
        width: 540px;
        height: 602px;
        bottom: 0;
        left: 300px;
        z-index: 10;
        background: url(images/common/endgame_smartphone.png);

        .scoringNextDayButton {
            font-family: pirkkala;
            position: relative;
            top: 390px;
            left: 70px;
            width: 414px;
            height: 60px;
            font-size: 20px;
            border: none;
            background: url(images/common/button.png);
            transition: scale 0.1s;
            cursor: pointer;
            color: #d0f2bf;
        }

        .scoringNextDayButton:hover {
            transform: scale(1.05);
        }

        .scoringNextDayButton:active {
            transform: scale(0.95);
        }

        .scoresContainer {
            .scoreExplanationsContainer {
                position: absolute;
                display: flex;
                flex-direction: column;
                left: 165px;
                top: 135px;
                height: 120px;
                justify-content: center;
            }

            .scorePointsContainer {
                position: absolute;
                left: 155px;
                top: 275px;
                display: flex;
                flex-direction: column;
            }

        }

        .scoringTotalText {
            position: absolute;
            left: 355px;
            top: 300px;
            font-size: 48px;
        }
    }
}

/* ********************************************** */
/* photo game */
/* ********************************************** */

.photoGameScreenContainer {
    .photoGameCanvas {
        background-color: lightgreen;
    }
}

/* ********************************************** */
/* level editor */
/* ********************************************** */

.levelEditorOverlayScreenContainer {
    position: absolute;
    top: 0;
    left: 0;
    padding: 4px;
    background: rgba(100, 100, 100, 0.5);
    z-index: 11;
    height: initial;
    width: initial;

    .addGameObjectFormContainer {
        span {
            display: block;
        }
    }
}

.levelEditorOverlayScreenContainer.right {
    left: initial;
    right: 0;
}

/* ********************************************** */
/* calendar */
/* ********************************************** */

.calendarScreenContainer {
    background-image: url(images/calendar/calendar.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 1280px;
    height: 720px;
    position: relative;
    overflow: hidden;


    .smartphone {
        background: url(images/calendar/bank_smartphone.png);
        position: absolute;
        width: 540px;
        height: 602px;
        bottom: -530px;
        left: 0px;
        transition: bottom ease-in-out 500ms;
        z-index: 10;
        cursor: pointer;
        transition: transform 0.1s;

        .moneyDisplay {
            font-family: pirkkala;
            color: #ff5597;
            position: absolute;
            left: 240px;
            top: 178px;
            font-size: 60px;
        }
    }

    .smartphone:hover {
        transform: scale(1.05);
    }

    .smartphone:active {
        transform: scale(0.95);
    }

    .smartphone.showSmartphone {
        bottom: 0;
    }

    .crossImage {
        opacity: 0;
        transform: scale(0, 0);
        transition:
            opacity 250ms ease,
            transform 250ms ease;
    }

    .crossImage.crossAnimation {
        opacity: 1;
        transform: scale(1, 1);
    }

    .circleImage {
        position: absolute;
        opacity: 0;
        transform: scale(0, 0);
        transition:
            opacity 250ms ease,
            transform 250ms ease;
    }

    .circleImage.circleAnimation {
        opacity: 1;
        transform: scale(1, 1);
    }

    .startDayButton {
        position: absolute;
        right: 0;
        bottom: 0;
        background: url("images/calendar/ToTheNextDay.png");
        width: 514px;
        height: 350px;
        border: none;
        cursor: pointer;
        z-index: 5;
        transition: transform 0.1s;
    }

    .startDayButton:hover {
        transform: scale(1.05);
    }

    .startDayButton:active {
        transform: scale(0.95);
    }
}

/* ********************************************** */
/* title */
/* ********************************************** */

.titleScreenContainer {
    background: url('images/title/title.png');

    .startButton {
        position: absolute;
        top: 600px;
        left: 550px;
        width: 180px;
        height: 80px;
        background: red;
        cursor: pointer;
        transition: transform 0.1s;
        transform: scale(1);
    }

    .startButton:hover {
        transform: scale(1.05);
    }

    .startButton:active {
        transform: scale(0.95);
    }
}