.hidden {
    display: none !important;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #111;
    background: #333333;
    margin: 0;
}

.screen {
    position: relative;
    height: 720px;
    width: 1280px;
}

/* ********************************************** */
/* scoring */
/* ********************************************** */

.scoringScreenContainer.screen {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background: darkgreen;
    padding: 4px;
    width: 400px;
    /* height: 75px; */
    z-index: 10;
    height: initial;

    .scoreExplanationOneContainer,
    .scoreExplanationTwoContainer,
    .scoreExplanationThreeContainer,
    .scoreExplanationFourContainer {
        display: flex;
        justify-content: space-between;
    }


    .scoreOnePointsText,
    .scoreTwoPointsText,
    .scoreThreePointsText,
    .scoreFourPointsText,
    .scoreExplanationOneText,
    .scoreExplanationTwoText,
    .scoreExplanationThreeText,
    .scoreExplanationFourText {
        display: inline-block;
        /* background: rgb(1, 56, 1); */
        margin: 4px;
        padding: 4px;
        color: white;
    }

    .scoringTotalText {
        display: block;
        text-align: right;
        /* background: rgb(1, 56, 1); */
        margin: 4px;
        padding: 4px;
        color: white;
    }
}

/* ********************************************** */
/* photo game */
/* ********************************************** */

.photoGameScreenContainer {
    .photoGameCanvas {
        background-color: lightgreen;
    }
}

/* ********************************************** */
/* level editor */
/* ********************************************** */

.levelEditorOverlayScreenContainer {
    position: absolute;
    top: 0;
    left: 0;
    padding: 4px;
    background: rgba(100, 100, 100, 0.5);

    .addGameObjectFormContainer {
        span {
            display: block;
        }
    }
}

.levelEditorOverlayScreenContainer.right {
    left: initial;
    right: 0;
}

/* ********************************************** */
/* calendar */
/* ********************************************** */

.calendarScreenContainer {
    background-image: url(images/calendar/background.png);
    width: 1280px;
    height: 720px;
    position: "relative";

    .moneyDisplay {
        color: red;
        position: absolute;
        left: 1000px;
        top: 50px;
        font-size: 60px;
    }

    .crossImage {
        opacity: 0;
        transform: scale(0, 0);
        transition:
            opacity 250ms ease,
            transform 250ms ease;
    }

    .crossImage.crossAnimation {
        opacity: 1;
        transform: scale(1, 1);
    }

    .circleImage {
        opacity: 0;
        transform: scale(0, 0);
        transition:
            opacity 250ms ease,
            transform 250ms ease;
    }

    .circleImage.circleAnimation {
        opacity: 1;
        transform: scale(1, 1);
    }

    .startDayButton {
        position: absolute;
        top: 660px;
        left: 500px;
        background: url("images/calendar/startDayButton.png");
        width: 315px;
        height: 58px;
        border: none;
        transition: transform 0.1s;
        cursor: pointer;
    }

    .startDayButton:active {
        transform: scale(0.95);
    }
}

.titleScreenContainer {
    background: url('images/title/placeholderTitle.png');
}